RESEND_API_KEY=re_xxxxxxxxx
BOOKING_WEBHOOK_SECRET=replace-with-a-long-random-secret
BOOKING_FROM_EMAIL=The Royal Velvet <concierge@royalvelveteventz.com>
BOOKING_ADMIN_EMAIL=royalvelveteventstudio@gmail.com
BOOKING_REPLY_TO=royalvelveteventstudio@gmail.com
PUBLIC_CONTACT_EMAIL=royalvelveteventstudio@gmail.com
SITE_URL=https://www.royalvelveteventz.com
